node_modules

.env
.env.*
!.env.example

# Rust
target/
Cargo.lock

# Build outputs
.next/
out/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Next.js build
next-env.d.ts
*.tsbuildinfo

/grafana/solucion